= provide :title, "about"

= render 'shared/header'

.post-header.six.columns
  %h3 whoami

.ten.columns
  %p I'm Scott.  Product manager by day, mediocre coder, public radio listener, home cook, out-of-shape cyclist, two-time fantasy football champion, golfer, dog owner, husband.
  %p This is my blog.  It's where I write.
  %p 
    Find me on
    = link_to "Twitter", 'https://twitter.com/smepple'
    ,
    = link_to "Github", 'https://github.com/smepple'
    , and
    = link_to "LinkedIn", 'http://www.linkedin.com/in/scottepple'
    = "."


= render 'shared/footer'
