.header

  .sixteen.columns
    %h1
      = link_to root_path, class: "logo" do
        %span= "the "
        %span.brand= "E"
        %span= "pplelog"
    %em.tagline this is where I write

  .four.columns.alpha.header-links
    = link_to "About", about_path
    = link_to "Archive", archive_path
    = link_to "RSS", posts_path(format: "rss")

  %hr