.header
  .nav-links
    = link_to "Home", root_path
    = link_to "New post", new_post_path
  %hr

.eight.columns
  .post-list
    %h2 Drafts
    - @drafts.each do |d|
      %p= link_to d.title, edit_post_path(d)

.eight.columns
  .post-list
    %h2 Published
    - @published.each do |p|
      %p= link_to p.title, edit_post_path(p)

.sixteen.columns.footer
  %p= debug(params) if Rails.env.development?