= provide :title, @post.title

.header
  %h2 Edit post

.form.wide.ten.columns.offset-by-three
  = form_for @post, url: post_path(@post) do |f|
    = render 'shared/error_messages', object: f.object
    = f.text_field :title, placeholder: "Give this post a title"
    = f.text_area :content, placeholder: "Start writing..."
    = f.label :draft do
      = f.check_box :draft
      Draft
    = f.submit
    = link_to "Preview post", preview_path(@post), class: "button"
    = link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" }
    = link_to "Cancel", admin_path