%h1 Edit post

= form_for @post, url: post_path(@post) do |f|
  = f.text_field :title, placeholder: "Give this post a title"
  = f.text_area :content, placeholder: "Start writing..."
  = f.label :draft do
    = f.check_box :draft
    Draft
  = f.submit

= link_to "Back", admin_path