- content_for :head, auto_discovery_link_tag(:rss, posts_url(format: "rss"))

= render 'shared/header'

#posts
  - if params[:tag]
    .post-stub
      %em Posts tagged with
      %em
        %strong= params[:tag]

  - if @posts.any?
    = render @posts
  - else
    .post-stub
      %em Welcome! More content coming soon.

= will_paginate @posts

= render 'shared/footer'

:javascript
  var disqus_shortname = 'theepplelog';

  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());