= provide :title, @post.title

= render 'shared/header'

.post-header.six.columns
  %em= @post.published_at.strftime("%b %e %Y")
  %h3= @post.title

.ten.columns
  = markdown(@post.content)
  %p
    = tweet_button via: 'smepple', count: 'horizontal', text: "Great read! the Epplelog | #{@post.title}"
    %script{:src => "//platform.linkedin.com/in.js", :type => "text/javascript"}
    %script{"data-counter" => "right", :type => "IN/Share"}

    #disqus_thread
    :javascript
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'theepplelog'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();

  %noscript
    Please enable JavaScript to view the
    %a{:href => "http://disqus.com/?ref_noscript"} comments powered by Disqus.
  %a.dsq-brlink{:href => "http://disqus.com"}
    comments powered by
    %span.logo-disqus Disqus

= render 'shared/footer'