= provide :title, @post.title

= render 'shared/header'

.post-header.six.columns
  %em= @post.published_at.strftime("%b %e %Y")
  %h3= @post.title

.ten.columns
  = markdown(@post.content)
  %p
    = tweet_button via: 'smepple', count: 'horizontal', text: "Great read! the Epplelog | #{@post.title}"
    %script{:src => "//platform.linkedin.com/in.js", :type => "text/javascript"}
    %script{"data-counter" => "right", :type => "IN/Share"}

= render 'shared/footer'