= provide :title, @post.title

= render 'shared/header'

.post-header.six.columns
  %em= @post.published_at.strftime("%b %e %Y")
  %h3= @post.title

.ten.columns
  = markdown(@post.content)

= render 'shared/footer'